@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @apply h-full;
  }
  * {
    user-select: none;
    @apply accent-blue-600;
  }
  body {
    @apply bg-gray-50;
  }

  input[type="number"] {
    appearance: textfield;
  }
}
